<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./public/css/style.css">
  </head>

  <body>
      <div class="wrapper">
          <header>
              <h1>
              <p class="post-title">Tech Blog</p>
              </h1>

    <nav>
        {{#if loggedIn}}
        <a href="/" class="homepage">Homepage</a>
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn">Logout</button>
    {{else}}
        <a href="/" class="homepage">Homepage</a>
        <a href="/login">Login</a>
    {{/if}}
    </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    </div>

    {{if loggedIn}}
    <script src="./public/js/logout.js"></script>
    {{/if}}

  </body>

  </html>