<div class="card">
    <div class="card-body">
        <h2 class="card-header">Logged Out</h2>
  <div class="container-fluid">
      <div class="row">Return to <a class="link" href="/">Homepage</a></div>

  </div>      
</div>
</div>

<script src="./public/js/logout.js"></script>